.CartItem
  display: flex
  width: 100%
  border-top: 1px solid #f6f6f6
  padding-top: 30px
  margin-top: 30px
  .ImageContainer 
    display: flex
    align-items: center
    margin-right: 15px
    width: 10%
    img 
      width: 80px
      height: 80px
  .Info
    display: flex
    flex-direction: column
    justify-content: center
    width: 40%
    h3
      font-weight: bold
      font-size: 22px
      line-height: 27px
      letter-spacing: 0.01em
    p 
      font-size: 18px
      color: #8d8d8d
  .Count
    display: flex
    align-items: center
    justify-content: space-between
    width: 13%

.Price 
  display: flex
  align-items: center
  justify-content: center
  width: 33%
  b 
    font-weight: bold
    font-size: 22px
    letter-spacing: 0.01em

.Remove 
  display: flex
  align-items: center
  justify-content: flex-end
  width: 4%
  .RemoveButton
    &:hover, &:active
      border-color: #2a2a2a
      background-color: #2a2a2a
    svg 
      transform: rotate(45deg)
      width: 11.5px
      height: 11.5px
      position: relative

.CountMinus
  svg 
    path:first-of-type
      display: none